# SPDX-FileCopyrightText: 2006 Istituto Nazionale di Fisica Nucleare
#
# SPDX-License-Identifier: Apache-2.0

/.settings
/bin
/dist
/target
/.classpath
/.project
/spec/voms-api-java.spec
/rpmbuild
/debbuild
/RPMS
/tgz
/target
